<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application name="RemoteFileManagementServer">
      <service>
        <wellknown mode="Singleton"
                   type="RemoteFileManagement.Server.RemoteFileManager, RemoteFileManagement.Server"
                   objectUri="RemoteFileManager" />
      </service>
      <channels>
        <channel ref="tcp" port="9000">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
